<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">
    <import resource="loggers.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
    </bean>

    <bean id="client" class="com.ep.spring.core.Client"
          c:id="${id}"
          c:fullName="${name}"
          p:greeting="${greeting}"/>
            <!--Same, without namespace
            <constructor-arg value="1"/>
            <constructor-arg value="John Smith"/>
            <property name="greeting" value="Hello there!"/>-->

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger" />
        <entry key="ERROR" value-ref="combinedEventLogger" />
    </util:map>

    <bean id="app" class="com.ep.spring.core.App">
        <constructor-arg value="#{client}"/>
        <!--<constructor-arg ref="client"/>-->
        <constructor-arg value="#{T(com.ep.spring.core.Event).isDay(7, 17) ? cacheFileEventLogger : consoleEventLogger}"/>
        <constructor-arg ref="loggerMap"/>
        <property name="startupMessage" value="#{'Hello user '
            + (systemProperties['os.arch'].equals('x86') ? systemEnvironment['USERNAME'] : systemEnvironment['USER'] )
            + '. Default logger is ' + app.defaultLogger.name }"/>
    </bean>

    <bean id="event" class="com.ep.spring.core.Event" scope="prototype">
        <constructor-arg value="#{new java.util.Date()}"/>
        <constructor-arg value="#{T(java.text.DateFormat).getDateTimeInstance()}" />
    </bean>

    <bean id="monitor" class="com.ep.spring.core.util.Monitor"/>

    <bean id="awared" class="com.ep.spring.core.util.AwareBean" init-method="init"/>

</beans>